body {
  margin: 0;
  overflow: scroll;
  font-family: Roboto, sans-serif;

  padding-top: 10px;
  min-height: 100vh;

}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

.header, .block1 {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background: #eee;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  
}

ul {
  display: flex;
  list-style: none;
  margin: 30px;
  padding: 0;
  gap: 16px
}

.heroimage {
  width: 25%;
  height: auto; /*to adjust the hero image properties*/
}

a {
  color: #666;
  text-decoration: none;
}

.logo {
  width: 5%;
  height: auto;
  margin-top: 20px;
}

.block1 {
  display: flex;
  margin-top: auto;

}

.herotext {
  display: inline;
}

p {
  inline-size: auto; /*to adjust the hero subtext overflow*/
  max-width: 500px;
}



.block2 {
  display: flex;
  justify-content: center;
  gap: 102px;
  margin-top: auto;
}

.info {
  max-width: 200px;
}

.block1.5 {

}


h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

}

.footertext {
  scroll-padding-left: 200px;
  justify-content: center;
  align-items: center;
  align-content: center;
}