/*Overall Body Settings*/
body {
  margin: 0;
  overflow: scroll;
  font-family: Roboto, sans-serif;
  padding-top: 10px;
  min-height: 100vh;
}
/*Overall Body Settings END */

/*To Adjust the Header & Logo BLock */
.header, .block1 {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-top: auto;
  flex-wrap: wrap;
}

ul {
  display: flex;
  list-style: none;
  margin: 30px;
  padding: 0;
  gap: 16px
}

a {
  color: #666;
  text-decoration: none;
}

.logo {
  max-block-size: 50px;
  margin-top: 20px;
}
/*To Adjust the Header & Logo BLock END*/

/*To Adjust the Block 1/Hero text & Image BLock */
.block1 {
 align-items: center;
 justify-content: center;
}

.heroimage {
  width: 25%;
  height: auto; /*to adjust the hero image properties*/
  padding: 50px;
}

.herotext {
  display: inline;
}

p {
  inline-size: auto; /*to adjust the hero subtext overflow*/
  max-width: 500px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}
/*To Adjust the Block 1/Hero text & Image BLock END */


/*To Adjust the Block 2 & 3/Content BLock */
h2, h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.block2, .block3 {
  display: flex;
  justify-content: center;
  gap: 102px;
  padding: 70px ;
flex-wrap: wrap;
}

.info {
  max-width: 200px;
}
/*To Adjust the Block 2 & 3/Content BLock END*/

/*To Adjust the Quotation Block */
.quote {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #E5E7EB;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.quote p {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  font-weight: lighter;
  font-family: 'Roboto', arial;
  inline-size: auto; 
}

.quote b {
  padding-bottom: 20px;
  padding-left: 200px;
  font-family: 'Roboto', arial;
  text-align: right;
}

.signupbutton2 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 50px;
}
/*To Adjust the Quotation BLock END */

/*To Adjust the Footer BLock */
.footer {
  background: #eee;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: smaller;
  }
  /*To Adjust the Footer BLock END */
