body {
  margin: 0;
  overflow: scroll;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  min-height: 100vh;
}


button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

.header,
.footer, .block1 {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background: #eee;
  margin-top: auto;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}

.heroimage {
  width: 25%;
  height: auto;
  /*to adjust the hero image properties*/
}

a {
  color: #666;
  text-decoration: none;
}

.logo {
  width: 5%;
  height: auto;
}

.block1 {
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: auto;
}

.herotext {
  display: inline;
}

p {
  inline-size: 500px; /*to adjust the hero subtext overflow*/
}

.mainherotext {
  font-weight: bold;
  font-size:xx-large;

}

.block2 {
  display: flex;
  justify-content: center;
  gap: 102px;
  margin-top: auto;
}

.info {
  max-width: 200px;
}

.block1.5 {
  margin-left: 100px;
  display: flex;
}

.benefittext {
  font-weight: bold;
  font-size:x-large;
  display: flex;
  margin-left: 40%;
}

div {
  
}